body {
  width: 75%;
  margin: auto;
}

h1 {
  margin-top: 30px;
}

.welcome {
  margin-bottom: 40px;
}

.product p {
  margin: 5px 0;
}

.product .name {
  margin-top: 40px;
  font-size: x-large;
  font-weight: 300;
}

.product p:last-child {
  display: flex;
  justify-content: space-between;
  color: darkgray;
}

.product .country {
  font-style: italic;
}

.product .abv {
  font-style: italic;
}

